body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27,27,27);
    color: rgb(233,233,233);
    padding: 20px;
}
h1{
    text-align: center;
}
.search{
    text-align: center;
    margin-bottom: 20px;
}
input{
    padding: 8px;
    font-size: 16px;
}
button{
    padding: 8px 12px;
    font-size: 16px;
    margin-left: 8px;
    cursor:pointer;
}
.results{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card{
    background:rgb(31,31,31) ;
    border: 2px solid rgb(43,43,43);
    border-radius: 8px;
    width: 180px;
    padding: 10px;
    text-align: center;
}
.card img{
    width: 100%;
    border-radius: 8px;
}